body {
    margin: auto;
    width: 80%;
    text-align: center;
}

#audioPlayer
{
    margin-top: 25px;
    margin-bottom: 25px;
}

#sound
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.parent {
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

#highpassGain, #lowpassGain, #bandpassGain, #highshelfGain, #lowshelfGain {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}