@font-face {
    font-family: 'Pricedown';
    src: url('Pricedown Bl.otf') format('opentype');
}

body {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pricedown', sans-serif;
}

#banner {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

#audioPlayer
{
    margin-top: 25px;
    margin-bottom: 25px;
}

#sound
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.parent {
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

#highpassGain, #lowpassGain, #bandpassGain, #highshelfGain, #lowshelfGain {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.visualizer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.visualizer-box {
    text-align: center;
}